{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },

  "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended"
  ],

  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 12
  },

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },

  "rules": {
    "prettier/prettier": "error"
  }
}
